<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/stylesheets/style.css">
  <%- include('partials/head') %>
</head>
<body>
  <h1 class="display-4 mb-3">Welcome to the Recipes List</h1>
  <p class="lead mb-4">Discover unique food listings from users across Bahrain.</p>
</body>
</html>

  