

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Recipes</title>
    <link rel="stylesheet" href="stylesheets/style.css">
    <%- include('../partials/head') %>
</head>
<body>

  <h1>Add Your Recipes</h1>
  
<form action="/recipes" method="POST" class="container mt-4" style="max-width: 600px;">
  <h2 class="mb-4">Create a New Recipe</h2>

  <div class="mb-3">
    <label for="title" class="form-label">Title</label>
    <input type="text" name="title" id="title" class="form-control" required />
  </div>

  <div class="mb-3">
    <label for="description" class="form-label">Description</label>
    <textarea name="description" id="description" class="form-control" rows="3" required></textarea>
  </div>


  <div class="mb-3">
    <label for="image" class="form-label">Image URL</label>
    <input type="text" name="image" id="image" class="form-control" />
  </div>

  <button type="submit" class="btn btn-primary">Create Recipe</button>
</form>

</body>
</html>